:root {
    --azulPioneiros: #1d9cd7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header {
    font-weight: bold;
    background-color: var(--azulPioneiros);
    width: 100%;
    height: 100%;
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
}

.menu_esquerda {
    width: 7%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.menu_esquerda li {
    list-style: none;
    padding-right: 25%;
}

.menu_esquerda li a{
    text-decoration: none;
    color: white;
}

.menu_direita {
    width: 7%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.menu_direita li {
    list-style: none;
    padding-right: 25%;
}

.menu_direita li a{
    text-decoration: none;
    color: white;
}