:root {
    --azulPioneiros: #1d9cd7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header, nav {
    font-weight: bold;
    background-color: var(--azulPioneiros);
    width: 100%;
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao-menu {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu_esquerda, .menu_direita {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center
}

.menu_esquerda li, .menu_direita li {
    list-style: none;
    padding-right: 15%;
}

.menu_esquerda li a, .menu_direita li a{
    text-decoration: none;
    color: white;
}

.menu_meio {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;  
}

.menu_meio h1{
    color: white;
}

@media (max-width: 768px) {
    .botao-menu {
        display: block;
    }

    .menu_esquerda {
        display: none;
        flex-direction: column;
        background-color: var(--azulPioneiros);
        position: absolute;
        top: 30px;
        left: 0;
        width: 25%;
        text-align: center;
        padding: 10px 0;
        z-index: 1;
    }

    .menu_esquerda.show {
        display: flex;
    }

    .menu_esquerda li {
        padding: 10px 0;
    }

    .menu_direita {
        padding-right: 5%;
    }
}