:root {
    --azulPioneiros: #1d9cd7;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.4;
}

.body {
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    box-sizing: border-box;
}

.tabelasPioneiros {
    width: 100%;
    border-collapse: collapse;
}

.tabelasPioneiros th, .tabelasPioneiros td {
    border: 1px solid black;
    text-align: center;
    padding: 6px;
}

.tabelasPioneiros h2 {
    padding-bottom: 5%;
}

.botao {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--azulPioneiros);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold;
}

.botao span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.botao span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.botao:hover span {
    padding-right: 25px;
}

.botao:hover span:after {
    opacity: 1;
    right: 0;
}

.equipas-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
 
.equipa-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}
 
.equipa-card h2 {
    margin-top: 10px;
    font-size: 20px;
    color: #007BFF;
}
 
.equipa-card a {
    text-decoration: none;
    color: inherit;
}
 
.equipa-card p {
    font-size: 16px;
    color: #555;
}

.equipa-card img {
    width: 100%;
    border-radius: 8px;
    height: 350px;
    filter: grayscale();
}

section {
    padding: 1.5rem;
    max-width: 1.5rem;
    margin: auto;
}

.login {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 40rem;
    text-align: center;
}

.loginFlex {
    width: 35rem;
}

.loginBg {
    background: url("../../images/bgDale.png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.loginForm label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.loginForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.loginForm input[type="submit"]:hover {
    background: #0056b3;
}

.formAdd {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.2rem;
    max-width: 50rem;
    margin: auto;
}

.formAdd h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 0.5rem;
    text-align: center;
}

.formAdd label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.formAdd input[type="text"],
.formAdd input[type="number"],
.formAdd input[type="date"],
.formAdd textarea,
.formAdd select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formAdd input[type="text"]:focus,
.formAdd input[type="number"]:focus,
.formAdd input[type="date"]:focus,
.formAdd textarea:focus,
.formAdd select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.documentos h2 {
    margin-bottom: 0.5rem;
}


.progress-container {
    background-color: #bababa;
    border-radius: 8px;
    overflow: hidden;
    height: 35px;
    border: 1px solid black;
    width: 20%;
}

.progress-bar {
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
    height: 100%;
}


.noites-progress-container {
    display: flex;
    align-items: center;
}

.imagem-insigniaAntes, .imagem-insigniaDepois{
    width: 5%;
}

.imagem-insigniaAntes {
    margin-right: 1%;
}

.imagem-insigniaDepois {
    margin-left: 1%;
}









/* Responsive  */

@media (max-width: 768px) {
    .body { 
        padding: 3%;
    }

    .equipas-list {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .equipa-card img {
        height: 250px;
    }

    .tabelasPioneiros {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .loginBg {
        height: 100vh;
    }

    .loginFlex {
        padding: 0 5%;
    }

    .imagem-insigniaAntes, .imagem-insigniaDepois {
        width: 20%;
    }

    .progress-container {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .body { 
        padding: 3%;
    }

    .login {
        padding: 1.25rem;
    }

    .loginBg {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login h2 {
        font-size: 1.25rem;
    }

    .formAdd {
        padding: 1rem; 
    }

    .formAdd h2 {
        font-size: 1.25rem;
    }

    .equipas-list {
        padding: 0.625rem;
    }

    .equipa-card h2 {
        font-size: 1.125rem;
    }

    .tabelasPioneiros {
        display: flex;
        flex-direction: column;
    }

    .tabelasPioneiros thead {
        display: none; 
    }

    .tabelasPioneiros tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.6rem;
        border: 1px solid black;
        padding: 0.6rem;
        border-radius: 0.5rem;
        background-color: #fff;
    }

    .tabelasPioneiros td {
        display: flex;
        justify-content: space-between;
        border: none;
        padding: 5px 0;
    }

    .tabelasPioneiros td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 10px;
        color: #555;
    }

    .loginFlex {
        padding: 0 5%;
    }
}