* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.body { 
    padding: 1%;
}

.tabelasPioneiros, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.tabelasPioneiros {
    width: 100%;
    text-align: center;
}

.botao {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--azulPioneiros);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
    font-weight: bold;
}

.botao span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.botao span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.botao:hover span {
    padding-right: 25px;
}

.botao:hover span:after {
    opacity: 1;
    right: 0;
}

.equipas-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
 
.equipa-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}
 
.equipa-card h2 {
    margin-top: 10px;
    font-size: 20px;
    color: #007BFF;
}
 
.equipa-card a {
    text-decoration: none;
    color: inherit;
}
 
.equipa-card p {
    font-size: 16px;
    color: #555;
}

.equipa-card img {
    width: 100%;
    border-radius: 8px;
    height: 350px;
    filter: grayscale();
}

section {
    padding: 15%;
    max-width: 1.5rem;
    margin: auto;
}

.login {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.login h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.loginForm label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.loginForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.loginForm input[type="submit"]:hover {
    background: #0056b3;
}

/* Adicionar responsividade */
@media (max-width: 480px) {
    .login {
        padding: 20px;
    }

    .login h2 {
        font-size: 20px;
    }
}