.loginBack {
    background-image: url('../../images/pioneirosBack.jpg') no-repeat;
}

.login {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 40rem;
    text-align: center;
}

.login h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.loginForm label {
    display: block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.loginForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.loginForm input[type="submit"]:hover {
    background: #0056b3;
}